<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsx.transport.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.dsx.transport.model.User">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM "public"."User"
    </select>

    <select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM "public"."User"
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.dsx.transport.model.User">
        INSERT INTO
         "public"."User"
        (id,username,password)
        VALUES
        (#{id} ,#{username}, #{password})
    </insert>

    <update id="update" parameterType="com.dsx.transport.model.User">
        UPDATE
        User
        SET
        <if test="username != null">username = #{username},</if>
        <if test="password != null">password = #{password},</if>
        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM
         "public"."User"
        WHERE
        id =#{id}
    </delete>

    <select id="getPassword" parameterType="String" resultType="String">
        SELECT password
        FROM  "public"."User"
        WHERE username = #{username}
    </select>

    <select id="getRole" parameterType="String" resultType="String">
        SELECT role
        FROM  "public"."User"
        WHERE username = #{username}
    </select>

</mapper>
